{% extends 'front/master.html' %}
{% load static %}

{% block title %}
  <title>Voting Application | My Polls</title>
{% endblock %}

{% block sidebar %}
      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'admin_panel' %}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Admin Panel</span></a>
      </li>

      <hr class="sidebar-divider d-none d-md-block">

      <li class="nav-item">
        <a class="nav-link" href="{% url 'all_polls' %}">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>All Polls</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'my_polls' %}">
          <i class="fas fa-fw fa-table"></i>
          <span>My Polls</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'create_poll' %}">
          <i class="fas fa-fw fa-wrench"></i>
          <span>Create Polls</span></a>
      </li>

{% endblock %}

{% block main %}
        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Admin Panel</h1>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">User information</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Number of polls created</th>
                      <th>Number of votes been casted on their own polls</th>
                      <th>Number of votes casted on others polls</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Name</th>
                      <th>Number of polls created</th>
                      <th>Number of votes been casted on their own polls</th>
                      <th>Number of votes casted on others polls</th>
                    </tr>
                  </tfoot>
                  <tbody>

                    {% for x in info %}

                      <tr>
                        <td><a href="{% url 'questions' username=x.0 %}">{{x.0}}</a></td>
                        <td>{{x.1}}</td>
                        <td>{{x.2}}</td>
                        <td>{{x.3}}</td>
                      </tr>

                    {% endfor %}                    
                    
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2020</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->
{% endblock %}